__pycache__/EMDensity.cpython-39.pyc
__pycache__/Graph.cpython-39.pyc
__pycache__/Tree.cpython-39.pyc
__pycache__/all_atoms.cpython-39.pyc
__pycache__/em_fit.cpython-39.pyc
__pycache__/map_align.cpython-39.pyc
__pycache__/optimizer.cpython-39.pyc
__pycache__/progress_reporting.cpython-39.pyc
__pycache__/repair_protein.cpython-39.pyc
__pycache__/skeleton.cpython-39.pyc
community/__init__.pyc
community/__pycache__/__init__.cpython-39.pyc
run/EM_map.MRC
run/chain_A.mrc
run/chain_A.pdb
run/chain_B.mrc
run/chain_B.pdb
run/chain_C.mrc
run/chain_C.pdb
run/emec.log
run/fragment_0.pdb
run/fragment_1.pdb
run/fragment_10.pdb
run/fragment_11.pdb
run/fragment_12.pdb
run/fragment_13.pdb
run/fragment_14.pdb
run/fragment_15.pdb
run/fragment_16.pdb
run/fragment_17.pdb
run/fragment_2.pdb
run/fragment_3.pdb
run/fragment_4.pdb
run/fragment_5.pdb
run/fragment_6.pdb
run/fragment_7.pdb
run/fragment_8.pdb
run/fragment_9.pdb
run/model_A.pdb
run/model_A.psf
run/model_B.pdb
run/model_B.psf
run/model_C.pdb
run/model_C.psf
run/mstree_0.npz
run/mstree_0.pdb
__pycache__/mast.cpython-39.pyc
__pycache__/pdbalign.cpython-39.pyc
__pycache__/results_parser.cpython-39.pyc
run/mast.log
run/tmux-pane.out
tmux-pane.out
3j7h/data/3j7h.fasta
3j7h/data/contacts.gremlin
3j7h/data/emd_5995.map
3j7h/data/emd_5995.nc
3j7h/data/emd_5995_zone.nc
3j7h/emec.conf
3j7h/emec.log
3j7h/mstree_full.npz
3j7h/mstree_pruned.npz
data/emd_2513_zone_no_cofactors.mrc
run/fragments.npy
run/mstree_full.npz
run/mstree_pruned.npz
